<h1>ADIT Email Validat</h1>


<form action="" [formGroup]="loginform" (ngSubmit)="onSubmit()">
<input type="text" placeholder="email" formControlName="Email"/>
@if(Email?.invalid && (Email?.dirty || Email?.touched)) {
  @if(Email?.errors?.['required'])
  {<span>email is required</span>}
}
<input type="password" placeholder="password" formControlName="Password"/>
@if(Password?.invalid && (Password?.dirty || Password?.touched)){
  @if(Password?.errors?.['required']){
  <span>Password must be 10 currectors </span>}
}
<span style="text-align: left;">Gender:
<input type="radio" formControlName="Gender" value="Male">Male
<input type="radio" formControlName="Gender" value="Female">Female
</span>
<span style="text-align: left;">
<label for="">Choose your state:</label>
<select formControlName="State">
  <option value="up">up</option>
  <option value="mp">mp</option>
  <option value="uk">uk</option>
</select>
</span>
<button type="submit" [disabled]="!loginform.valid">Login</button>
<!-- 
{{loginform.value || json}}
{{loginform}} -->
</form>
